.title {
    height: 100px;
}

.button {
    width: 75px;
    margin: 10px;
}

body {
    padding: 30px;
    background: #ad5389;
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    background: linear-gradient(to right, #3c1053, #ad5389);
}

#pokemon {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    margin: 30px;
}

.center {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.poke {
    width: 280px;
    height: 280px;
}